<a href="https://colab.research.google.com/github/viratchowdary21/Hakuna-Matata-Hire-a-thon-Freshers_Virat/blob/main/Employee_performance_problem_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [173]:
import numpy as np
import statistics as st

In [164]:
import pandas as pd

file_path = '/content/drive/MyDrive/Copy of Hackathon Timesheet.xlsx'

In [165]:
scrum_sheet = pd.read_excel('/content/drive/MyDrive/Copy of Hackathon Timesheet.xlsx')

In [166]:
np.all([1,2,3,4,5,5])

True

In [167]:
scrum_sheet.head()

         Date Project Name  Hours   Owner    Team Billing Status
0  23-02-2015         AAA     1.5  sankar  Design       Billable
1  18-02-2015         AAA     1.5  sankar  Design       Billable
2  16-02-2015         AAA     3.0  sankar  Design       Billable
3  13-02-2015         AAA     1.5  sankar  Design       Billable
4  12-02-2015         AAA     6.5  sankar  Design       Billable

In [168]:
scrum_sheet['Project Name'].nunique()

55

In [169]:
scrum_sheet['Billing Status'] = scrum_sheet['Billing Status'].apply(lambda x: 1 if x=='Billable' else 0)

In [170]:
noof_projects = pd.pivot_table(scrum_sheet, values=['Project Name'],
                                 index=['Team', 'Date'], columns=None,
                   aggfunc= lambda x: len(x.unique()),
                    margins = True, margins_name='Totals', sort=True)

noof_projects

                   Project Name
Team   Date
0      05-08-2014             1
Design 01-04-2014             3
       01-05-2014             2
       01-06-2014             1
       01-07-2014             5
...                         ...
QA     31-01-2015             2
       31-07-2014             2
       31-10-2014             3
       31-12-2014             2
Totals                       55

[1039 rows x 1 columns]

In [175]:
emp_performance = pd.pivot_table(scrum_sheet, values=['Hours', 'Billing Status', 'Project Name'],
                                 index=['Team', 'Owner', 'Date'], columns=None, 
                   aggfunc={'Hours':np.sum, 'Billing Status': lambda x: 1 if np.sum(x)>=1 else 0, 'Project Name': lambda x: len(x.unique())},
                    margins = True, margins_name='Totals', sort=True)
emp_performance

                             Billing Status     Hours  Project Name
Team   Owner     Date
0      0         05-08-2014               1      0.50             1
Design Murali    01-04-2014               1      0.75             1
                 01-07-2014               1      8.00             2
                 01-08-2014               1      7.00             1
                 01-09-2014               1      3.00             1
...                                     ...       ...           ...
QA     yuvaraj s 21-05-2014               0     10.00             1
                 23-02-2015               1     15.00             1
                 23-04-2014               1      1.00             1
                 24-02-2015               0      1.50             1
Totals                                    1  37439.38            55

[5305 rows x 3 columns]

In [176]:
emp_performance[emp_performance['Project Name']>7]

                                        Billing Status     Hours  Project Name
Team   Owner                Date
PM     ithayakumar Durairaj 29-01-2015               1      7.50             9
Totals                                               1  37439.38            55

In [177]:
emp_performance = pd.merge(emp_performance, noof_projects, 'left', left_index=True, right_index=True)
emp_performance

                                      Billing Status     Hours  \
Team   Date       Owner
0      05-08-2014 0                                1      0.50
Design 01-04-2014 Murali                           1      0.75
                  Vignesh Ramamurthy               1     10.75
                  sankar                           1      8.67
       01-05-2014 Vignesh Ramamurthy               1      9.83
...                                              ...       ...
QA     31-10-2014 Solomon Gracious                 1      8.00
                  nixon                            1      7.50
       31-12-2014 Solomon Gracious                 1      4.00
                  nixon                            1      8.00
Totals                                             1  37439.38

                                      Project Name_x  Project Name_y
Team   Date       Owner
0      05-08-2014 0                                1               1
Design 01-04-2014 Murali                           1               3
                  Vignesh Ramamurthy               1               3
                  sankar                           1               3
       01-05-2014 Vignesh Ramamurthy               1               2
...                                              ...             ...
QA     31-10-2014 Solomon Gracious                 1               3
                  nixon                            2               3
       31-12-2014 Solomon Gracious                 1               2
                  nixon                            2               2
Totals                                            55              55

[5305 rows x 4 columns]

In [178]:
emp_performance = emp_performance.reset_index()
emp_performance

,Team,Date,Owner,Billing Status,Hours,Project Name_x,Project Name_y
0,0,05-08-2014,0,1,0.50,1,1
1,Design,01-04-2014,Murali,1,0.75,1,3
2,Design,01-04-2014,Vignesh Ramamurthy,1,10.75,1,3
3,Design,01-04-2014,sankar,1,8.67,1,3
4,Design,01-05-2014,Vignesh Ramamurthy,1,9.83,1,2
...,...,...,...,...,...,...,...
5300,QA,31-10-2014,Solomon Gracious,1,8.00,1,3
5301,QA,31-10-2014,nixon,1,7.50,2,3
5302,QA,31-12-2014,Solomon Gracious,1,4.00,1,2
5303,QA,31-12-2014,nixon,1,8.00,2,2
5304,Totals,,,1,37439.38,55,55

In [180]:
emp_performance = pd.pivot_table(emp_performance, values=['Hours', 'Billing Status', 'Project Name_x', 'Project Name_y'],
                                 index=['Team', 'Owner', 'Date'], columns=None, 
                  #  aggfunc={'Hours':np.sum, 'Billing Status':np.mean, 'Project Name': lambda x: len(x.unique())},
                    # margins = True, margins_name='Totals', 
                    sort=True)
emp_performance

                             Billing Status     Hours  Project Name_x  \
Team   Owner     Date
0      0         05-08-2014               1      0.50               1
Design Murali    01-04-2014               1      0.75               1
                 01-07-2014               1      8.00               2
                 01-08-2014               1      7.00               1
                 01-09-2014               1      3.00               1
...                                     ...       ...             ...
QA     yuvaraj s 21-05-2014               0     10.00               1
                 23-02-2015               1     15.00               1
                 23-04-2014               1      1.00               1
                 24-02-2015               0      1.50               1
Totals                                    1  37439.38              55

                             Project Name_y
Team   Owner     Date
0      0         05-08-2014               1
Design Murali    01-04-2014               3
                 01-07-2014               5
                 01-08-2014               5
                 01-09-2014               3
...                                     ...
QA     yuvaraj s 21-05-2014               3
                 23-02-2015               5
                 23-04-2014               4
                 24-02-2015               6
Totals                                   55

[5305 rows x 4 columns]

In [181]:
emp_performance['effeciency'] = (emp_performance['Billing Status']+1)*emp_performance['Hours']*\
(emp_performance['Project Name_x']/emp_performance['Project Name_y'])
emp_performance

                             Billing Status     Hours  Project Name_x  \
Team   Owner     Date
0      0         05-08-2014               1      0.50               1
Design Murali    01-04-2014               1      0.75               1
                 01-07-2014               1      8.00               2
                 01-08-2014               1      7.00               1
                 01-09-2014               1      3.00               1
...                                     ...       ...             ...
QA     yuvaraj s 21-05-2014               0     10.00               1
                 23-02-2015               1     15.00               1
                 23-04-2014               1      1.00               1
                 24-02-2015               0      1.50               1
Totals                                    1  37439.38              55

                             Project Name_y    effeciency
Team   Owner     Date
0      0         05-08-2014               1      1.000000
Design Murali    01-04-2014               3      0.500000
                 01-07-2014               5      6.400000
                 01-08-2014               5      2.800000
                 01-09-2014               3      2.000000
...                                     ...           ...
QA     yuvaraj s 21-05-2014               3      3.333333
                 23-02-2015               5      6.000000
                 23-04-2014               4      0.500000
                 24-02-2015               6      0.250000
Totals                                   55  74878.760000

[5305 rows x 5 columns]

In [182]:
emp_performance['mean_effeciency'] = emp_performance.effeciency.groupby(level=['Team', 'Owner']).sum()

In [185]:
emp_performance

                                        Billing Status     Hours  \
Team   Owner                Date
0      0                    05-08-2014               1      0.50
Design Murali               01-04-2014               1      0.75
                            01-07-2014               1      8.00
                            01-08-2014               1      7.00
                            01-09-2014               1      3.00
                            01-10-2014               1      5.50
                            02-01-2015               1      7.00
                            02-04-2014               1      8.00
                            02-05-2014               1      3.50
                            02-06-2014               1      4.00
                            02-07-2014               1      9.50
                            02-12-2014               1      8.00
                            03-02-2015               1      7.50
                            03-04-2014               1     10.50
                            03-06-2014               1      7.00
                            03-07-2014               1      7.50
                            03-11-2014               1      5.00
                            03-12-2014               1      8.00
                            04-02-2015               1      7.50
                            04-04-2014               1      8.00
                            04-06-2014               1      8.00
                            04-07-2014               1      4.00
                            04-09-2014               1      2.00
                            04-11-2014               1      6.00
                            04-12-2014               1      8.50
                            05-01-2015               1      7.50
                            05-02-2015               1      7.50
                            05-05-2014               1      1.00
                            05-06-2014               1     11.00
                            05-11-2014               1      1.00
                            05-12-2014               1      7.50
                            06-01-2015               1      6.50
                            06-02-2015               1      7.50
                            06-06-2014               1      9.00
                            06-08-2014               1      8.00
                            06-09-2014               1      0.83
                            06-11-2014               1      8.50
                            07-01-2015               1      7.50
                            07-04-2014               1      8.50
                            07-05-2014               1      9.50
                            07-07-2014               1      7.25
                            07-10-2014               1      0.50
                            07-11-2014               1      9.00
                            08-01-2015               1      6.00
                            08-04-2014               1      8.00
                            08-05-2014               1      9.00
                            08-07-2014               1      3.50
                            08-08-2014               1      7.00
                            08-10-2014               1      8.00
                            08-12-2014               1      7.50
                            09-01-2015               1      7.00
                            09-02-2015               1      7.50
                            09-04-2014               1     10.00
                            09-05-2014               1      6.50
                            09-06-2014               1      8.25
                            09-08-2014               1      7.25
                            09-09-2014               1      4.00
                            09-12-2014               1      9.00
                            10-01-2015               1      7.50
                            10-02-2015               1      6.50
                            10-04-2014               1      9.42
                            10-06-2014               1      8.50
                            10-07-2014               1      0.50
                            10-10-2014               1      1.00
                            10-11-2014               1      6.50
                            11-02-2015               1      7.08
                            11-04-2014               1      9.00
                            11-06-2014               1      7.00
                            11-07-2014               1      8.00
                            11-08-2014               1      7.83
                            11-09-2014               1      1.00
                            11-10-2014               1      7.00
                            11-11-2014               1      6.50
                            11-12-2014               1      7.00
                            12-01-2015               1      8.00
                            12-02-2015               1      7.00
                            12-04-2014               1      8.00
                            12-05-2014               1      7.00
                            12-06-2014               1      9.30
                            12-07-2014               1      5.50
                            12-08-2014               1      8.00
                            12-09-2014               1      1.84
                            12-11-2014               1      7.50
                            12-12-2014               1      7.00
                            13-01-2015               1      7.50
                            13-02-2015               1      6.00
                            13-05-2014               1      4.17
                            13-06-2014               1      9.00
                            13-08-2014               1      8.00
                            13-10-2014               1      7.50
                            13-11-2014               1      6.50
                            14-01-2015               1      6.00
                            14-07-2014               1      2.00
                            14-08-2014               1      4.00
                            14-10-2014               1      7.50
                            14-11-2014               1      5.50
                            15-04-2014               1      2.75
                            15-05-2014               1      2.00
                            15-10-2014               1      7.50
                            15-12-2014               1      7.58
                            16-02-2015               1      7.00
                            16-04-2014               1      9.00
                            16-06-2014               1      9.00
                            16-07-2014               1      9.00
                            16-10-2014               1      7.00
                            16-12-2014               1      8.00
                            17-06-2014               1      8.00
                            17-07-2014               1     20.00
                            17-10-2014               1      7.50
                            17-11-2014               1      7.00
                            17-12-2014               1      7.50
                            18-02-2015               1      7.50
                            18-04-2014               1      7.50
                            18-06-2014               1      8.50
                            18-07-2014               1      9.00
                            18-08-2014               1      7.33
                            18-09-2014               1      7.00
                            18-10-2014               1      7.33
                            18-11-2014               1      7.75
                            18-12-2014               1      5.50
                            19-01-2015               1      7.50
                            19-02-2015               1      7.00
                            19-05-2014               1      8.50
                            19-06-2014               1      8.00
                            19-07-2014               1      7.50
                            19-08-2014               1      4.83
                            19-09-2014               1      8.00
                            19-11-2014               1      6.50
                            19-12-2014               1      7.75
                            20-01-2015               1      6.78
                            20-02-2015               1      7.00
                            20-05-2014               1      0.50
                            20-06-2014               1      4.00
                            20-08-2014               1      3.00
                            20-09-2014               1      7.50
                            21-01-2015               1      7.50
                            21-02-2015               1      6.50
                            21-04-2014               1      6.00
                            21-05-2014               1     10.00
                            21-07-2014               1      5.00
                            21-08-2014               1      0.50
                            21-10-2014               1     15.00
                            22-01-2015               1      5.50
                            22-04-2014               1      3.00
                            22-05-2014               1      9.00
                            22-07-2014               1      8.00
                            22-09-2014               1      9.50
                            22-12-2014               1      8.00
                            23-01-2015               1      7.50
                            23-02-2015               1      7.50
                            23-04-2014               1      8.00
                            23-05-2014               1      9.00
                            23-06-2014               1      5.50
                            23-09-2014               1      7.50
                            23-12-2014               1      8.00
                            24-02-2015               1      7.50
                            24-06-2014               1      5.00
                            24-07-2014               1      8.00
                            24-09-2014               1      7.50
                            24-11-2014               1      8.00
                            24-12-2014               1      8.42
                            25-02-2015               1     10.00
                            25-06-2014               1      5.00
                            25-07-2014               1     10.30
                            25-08-2014               1      8.50
                            25-09-2014               1      5.50
                            25-11-2014               1      8.00
                            26-02-2015               1     14.50
                            26-05-2014               1      6.00
                            26-06-2014               1      7.50
                            26-08-2014               1      7.50
                            26-09-2014               1      4.00
                            26-11-2014               1     10.50
                            26-12-2014               1      7.50
                            27-01-2015               1      6.50
                            27-05-2014               1     12.50
                            27-06-2014               1      7.00
                            27-11-2014               1      8.00
                            28-01-2015               1      7.50
                            28-05-2014               1     19.50
                            28-10-2014               1      4.50
                            28-11-2014               1      7.50
                            29-01-2015               1      7.00
                            29-05-2014               1      3.00
                            29-07-2014               1      3.50
                            29-09-2014               1      3.50
                            29-10-2014               1      8.00
                            29-12-2014               1     11.50
                            30-05-2014               1      9.30
                            30-06-2014               1      8.33
                            30-07-2014               1      2.50
                            30-12-2014               1      4.00
                            31-07-2014               1      9.00
                            31-12-2014               1      4.00
       Vaishak              01-07-2014               1      5.00
                            01-08-2014               1      7.00
                            01-12-2014               1      5.00
                            02-01-2015               1      8.00
                            02-06-2014               1      7.00
                            02-12-2014               1      8.00
                            03-02-2015               1      9.00
                            03-06-2014               1      8.00
                            03-07-2014               1      4.00
                            03-11-2014               1      8.00
                            03-12-2014               1      9.75
                            04-02-2015               1      9.00
                            04-06-2014               1      8.00
                            04-08-2014               1      3.00
                            04-11-2014               1      8.00
                            04-12-2014               1     10.00
                            05-01-2015               1      9.00
                            05-02-2015               1     11.00
                            05-08-2014               1      4.00
                            05-11-2014               1      8.00
                            05-12-2014               1     10.00
                            06-01-2015               1      8.00
                            06-02-2015               1     12.00
                            06-08-2014               1      7.00
                            06-11-2014               1      8.00
                            07-01-2015               1      6.00
                            07-02-2015               1     13.00
                            07-05-2014               1      3.00
                            07-07-2014               1      6.00
                            07-08-2014               1      4.00
                            07-11-2014               1      8.00
                            08-01-2015               1     10.00
                            08-02-2015               1     13.00
                            08-05-2014               1      5.00
                            08-07-2014               1      7.00
                            08-08-2014               1      8.00
                            08-12-2014               1     11.00
                            09-01-2015               1      8.00
                            09-02-2015               1     13.00
                            09-05-2014               1      8.00
                            09-06-2014               1      7.00
                            09-07-2014               1      7.00
                            09-12-2014               1      9.00
                            10-01-2015               1      5.00
                            10-02-2015               1     15.00
                            10-06-2014               1      7.00
                            10-07-2014               1      7.00
                            10-11-2014               1      8.00
                            10-12-2014               1      9.00
                            11-02-2015               1     15.00
                            11-07-2014               1      8.00
                            11-08-2014               1      8.00
                            11-11-2014               1      9.00
                            11-12-2014               1      7.00
                            12-01-2015               1      3.50
                            12-02-2015               1      4.00
                            12-05-2014               1     14.50
                            12-08-2014               1      7.00
                            12-11-2014               1      9.00
                            12-12-2014               1      6.00
                            13-01-2015               1      3.00
                            13-02-2015               1      5.00
                            13-05-2014               1      8.00
                            13-08-2014               1      8.00
                            13-11-2014               1      9.00
                            13-12-2014               1      8.00
                            14-02-2015               1      2.00
                            14-05-2014               1      8.50
                            14-07-2014               1      7.00
                            14-08-2014               1      8.00
                            14-11-2014               1     10.00
                            15-05-2014               1      6.00
                            15-07-2014               1      8.00
                            15-09-2014               1     16.00
                            15-12-2014               1      8.00
                            16-01-2015               1      3.00
                            16-05-2014               1      8.00
                            16-07-2014               1      8.00
                            16-12-2014               1      7.00
                            17-01-2015               1      3.00
                            17-02-2015               1      3.00
                            17-07-2014               1      7.00
                            17-11-2014               1      8.00
                            17-12-2014               1     10.00
                            18-06-2014               1      8.00
                            18-07-2014               1      8.00
                            18-11-2014               1      8.00
                            18-12-2014               1     10.00
                            19-01-2015               1      6.00
                            19-05-2014               1      7.00
                            19-06-2014               1      6.50
                            19-07-2014               1      7.00
                            19-08-2014               1      7.00
                            19-11-2014               1      9.00
                            19-12-2014               1     10.00
                            20-01-2015               1     12.00
                            20-02-2015               1      7.00
                            20-05-2014               1      7.00
                            20-06-2014               1      3.50
                            20-08-2014               1      7.00
                            20-11-2014               1      8.00
                            20-12-2014               1      5.00
                            21-01-2015               1      7.50
                            21-02-2015               1      6.00
                            21-05-2014               1     14.00
                            21-07-2014               1      5.00
                            21-08-2014               1      4.00
                            21-11-2014               1      9.00
                            22-01-2015               1      6.50
                            22-05-2014               1     15.00
                            22-07-2014               1      9.00
                            22-08-2014               1      5.00

In [195]:
emp_performance_df = emp_performance.reset_index().sort_values('mean_effeciency', ascending=True).drop(['Date'], axis=1)

In [199]:
emp_performance_df.Owner[emp_performance_df['mean_effeciency']<20].unique()

array(['0', 'Gerard Benedict', 'rajeshwaran', 'shalini', 'kirithika',
       'saravanan'], dtype=object)

In [200]:
emp_performance_df[emp_performance_df['Owner']=='shalini']

,Team,Owner,Billing Status,Hours,Project Name_x,Project Name_y,effeciency,mean_effeciency
5239,QA,shalini,0,4.00,1,5,0.800000,10.773333
5240,QA,shalini,0,5.50,1,4,1.375000,10.773333
5241,QA,shalini,0,6.30,1,5,1.260000,10.773333
5242,QA,shalini,0,6.08,1,4,1.520000,10.773333
5243,QA,shalini,0,6.00,1,6,1.000000,10.773333
5244,QA,shalini,0,7.00,1,4,1.750000,10.773333
5245,QA,shalini,0,3.41,1,6,0.568333,10.773333
5246,QA,shalini,0,2.50,1,1,2.500000,10.773333